/* body{
} */

#Heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
#text{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#form{
    margin-left: 350px;
    height: auto;
    width: 650px;
    background-color: #00ace6;
}